#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#GameBoard {
  margin-top: 0px !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.sign-in {
  background-color: #7537f9;
  font-weight: 500;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  color: white;
  border: 0px;
  cursor: pointer;
}

.sign-in:hover {
  background-color: #8d5cf8;
  font-weight: 500;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  color: white;
  border: 0px;
  cursor: pointer;
}


.container {
  margin-top: 300px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  word-wrap: break-word;
  padding: 10px;
  position: absolute; /* Positioning the element */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the div */
}

.signature-container {
  width: 800px;
  word-wrap: break-word; /* Ensures that words break to prevent overflow */
  padding: 10px;
  border: 1px solid #ccc; /* Just for visibility, can be customized */
}